Задание 1**
Напишите функцию, которая классифицирует фильмы из материалов занятия по следующим правилам:
  - оценка 2 и меньше - низкий рейтинг
  - оценка 4 и меньше - средний рейтинг
  - оценка 4.5 и 5 - высокий рейтинг

Результат классификации запишите в столбец class

In [1]:
import pandas as pd

In [4]:
a = pd.read_csv('ratings.csv')
b = pd.read_csv('movies.csv')

merged = a.merge(b, on='movieId')

merged.to_csv('movies_1.csv', index=False)

In [5]:
c = pd.read_csv('movies_1.csv')
c.head()

,userId,movieId,rating,timestamp,title,genres
0,1,1,4.0,964982703,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,5,1,4.0,847434962,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
2,7,1,4.5,1106635946,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
3,15,1,2.5,1510577970,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
4,17,1,4.5,1305696483,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy

In [10]:
d = c.groupby('title').mean()
d.head()

,userId,movieId,rating,timestamp
title,,,,
'71 (2014),610.0,117867.0,4.0,1.493850e+09
'Hellboy': The Seeds of Creation (2004),332.0,97757.0,4.0,1.352671e+09
'Round Midnight (1986),354.5,26564.0,3.5,1.346507e+09
'Salem's Lot (2004),345.0,27751.0,5.0,1.342827e+09
'Til There Was You (1997),229.0,779.0,4.0,1.161440e+09

In [41]:
d['class_rating'] = pd.cut(d['rating'], [0, 2 , 4.4 , 5] , labels = ['низкий' , 'средний' , 'высокий'])
d.head(20)

,userId,movieId,rating,timestamp,class_rating
title,,,,,
'71 (2014),610.000000,117867.0,4.000000,1.493850e+09,средний
'Hellboy': The Seeds of Creation (2004),332.000000,97757.0,4.000000,1.352671e+09,средний
'Round Midnight (1986),354.500000,26564.0,3.500000,1.346507e+09,средний
'Salem's Lot (2004),345.000000,27751.0,5.000000,1.342827e+09,высокий
'Til There Was You (1997),229.000000,779.0,4.000000,1.161440e+09,средний
'Tis the Season for Love (2015),21.000000,149380.0,1.500000,1.452052e+09,низкий
"'burbs, The (1989)",321.882353,2072.0,3.176471,1.149223e+09,средний
'night Mother (1986),474.000000,3112.0,3.000000,1.065028e+09,средний
(500) Days of Summer (2009),279.833333,69757.0,3.666667,1.407077e+09,средний
*batteries not included (1987),497.285714,8169.0,3.285714,1.225801e+09,средний
...All the Marbles (1981),377.000000,5706.0,2.000000,1.340342e+09,низкий
...And Justice for All (1979),391.333333,3420.0,3.166667,1.144329e+09,средний
00 Schneider - Jagd auf Nihil Baxter (1994),18.000000,157110.0,4.500000,1.485101e+09,высокий
1-900 (06) (1994),44.000000,889.0,4.000000,8.692527e+08,средний
10 (1979),305.000000,6658.0,3.375000,1.187035e+09,средний
10 Cent Pistol (2015),234.500000,139717.0,1.250000,1.470211e+09,низкий
10 Cloverfield Lane (2016),310.785714,152077.0,3.678571,1.494138e+09,средний
10 Items or Less (2006),461.666667,49284.0,2.666667,1.212274e+09,средний
10 Things I Hate About You (1999),358.481481,2572.0,3.527778,1.213404e+09,средний
10 Years (2011),448.000000,98230.0,3.500000,1.377355e+09,средний

**Задание 2**
Используем файл keywords.csv.

Необходимо написать гео-классификатор, который каждой строке сможет выставить географическую принадлежность определенному региону. Т. е. если поисковый запрос содержит название города региона, то в столбце 'region' пишется название этого региона. Если поисковый запрос не содержит названия города, то ставим 'undefined'.

Правила распределения по регионам Центр, Северо-Запад и Дальний Восток:

geo_data = {

    'Центр': ['москва', 'тула', 'ярославль'],

    'Северо-Запад': ['петербург', 'псков', 'мурманск'],

    'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск']

}

Результат классификации запишите в отдельный столбец region.

In [9]:
stats = pd.read_csv('keywords.csv')
stats.head()

         keyword     shows
0             вк  64292779
1  одноклассники  63810309
2          порно  41747114
3           ютуб  39995567
4      вконтакте  21014195

In [26]:
geo_data = {

    'Центр': ['москва', 'тула', 'ярославль'],

    'Северо-Запад': ['петербург', 'псков', 'мурманск'],

    'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск']

}
def region(stats):
    for key, value in geo_data.items():
        #print(key)
        for el in value:
            #print(el)
            if el in stats['keyword']:
                return key       
            else:
                return 'undefined'

stats['region'] = stats.apply(region, axis=1)
stats.head()

         keyword     shows     region
0             вк  64292779  undefined
1  одноклассники  63810309  undefined
2          порно  41747114  undefined
3           ютуб  39995567  undefined
4      вконтакте  21014195  undefined

**Задание 3 (бонусное)**
Есть мнение, что "раньше снимали настоящее кино, не то что сейчас". Ваша задача проверить это утверждение, используя файлы с рейтингами фильмов из прошлого домашнего занятия (файл ratings.csv из базы https://grouplens.org/datasets/movielens). Т. е. проверить верно ли, что с ростом года выпуска фильма его средний рейтинг становится ниже.

При этом мы не будем затрагивать субьективные факторы выставления этих рейтингов, а пройдемся по следующему алгоритму:

1. В переменную years запишите список из всех годов с 1950 по 2010.

2. Напишите функцию production_year, которая каждой строке из названия фильма выставляет год выпуска. Не все названия фильмов содержат год выпуска в одинаковом формате, поэтому используйте следующий алгоритм:
  - для каждой строки пройдите по всем годам списка years
  - если номер года присутствует в названии фильма, то функция возвращает этот год как год выпуска
  - если ни один из номеров года списка years не встретился в названии фильма, то возвращается 1900 год

3. Запишите год выпуска фильма по алгоритму пункта 2 в новый столбец 'year'

4. Посчитайте средний рейтинг всех фильмов для каждого значения столбца 'year' и отсортируйте результат по убыванию рейтинга